.ItemListContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.greeting {
  color: #fbbea4;
  font-size: 45px;
  margin-bottom: 50px;
}
