.Counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #868d937e;
  border-radius: 5px;
}

.Counter__boton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}

.Counter__boton-icon {
  width: 14px;
  margin: 8px;
}

.Counter__cantidad {
  font-size: 18px;
  font-weight: 600;
}
