.ButtonSecundario {
  color: var(--color-terciario);
  font-size: 13px;
  border: 2px solid var(--color-terciario);
  background-color: rgba(255, 255, 255, 0);
  padding: 10px 0;
  width: 100%;
  border-radius: 5px;
}
.ButtonSecundario:hover {
  background-color: rgba(206, 201, 201, 0.212);
}

.ButtonSecundario:active {
  background-color: #fbbea449;
}
