* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.App-body {
  margin: 0;
  display: grid;
  align-self: center;
  grid-template-columns: auto 1200px auto;

  justify-content: center;
}
