.CheckoutContainer {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.greeting {
  color: var(--color-primario);
  font-size: 45px;
  margin-bottom: 50px;
}
.formCheckout__container {
  /* background-image: url("https://i.imgur.com/TFwk85k.jpg");
  background-position: center;
  background-repeat: no-repeat; */
  position: relative;
  overflow: hidden;
  height: 550px;
  background-size: contain;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}

.formCheckout__container-img {
  position: absolute;
  left: 20%;
  top: -15%;
  width: 60%;
  height: auto;
  opacity: 0.6;
  align-self: center;
}

.formCheckout {
  display: flex;
  flex-direction: column;
  z-index: 2;
  /* padding: 20px 0; */
}

.fromCheckout__input {
  font-size: 20px;
  padding: 10px 10px;
  margin: 18px;
  min-width: 500px;
  max-width: 500px;
}

.formCheckout__btnEnviar {
  width: 250px;
  align-self: center;
  margin-top: 40px;
}
